.banner{
  max-width: 100%;
  height: 380px;
  background: linear-gradient(rgba(242, 236, 213, 0.1), rgba(254, 230, 204, 0.3)), url('./components/images/banner.jpg') center  no-repeat ;
  background-size: cover;
}
.orange{
  background:rgb(249, 90, 61) !important;
}
.white{
  background: #fff !important;
}
.white-text{
  color: #fff !important;
}
.orange-text{
  color:rgb(249, 90, 61) !important;
}
.uppercase{
  text-transform: uppercase;
}
.btn-banner{
  height: 3px !important;
  font-size: 10px !important;
  padding-left:7% !important;
  padding-right: 7% !important;
}
.over-banner{
  width: 80%;
  height: auto;
  margin-top: 5%;
  position: absolute;
}
.banner-content-left
{
  float: left;
  max-width: 50%;
}
.over-banner .over-banner-content
{
  margin-left: 10%;
}
.pt50{
  padding-top: 50px;
}
.pb50{
  padding-bottom: 50px;
}
.pt100{
  padding-top: 100px;
}
.pb30{
  padding-bottom: 20px;
}
.pt20{
  padding-top: 20px;
}
.no-shadow{
 box-shadow: 0 !important; 
}
.my-card:hover{
  box-shadow:0px 2px 30px 0px rgba(198, 198, 198, 0.3);
  transition: all .3s ease;
}
.my-card{
  border-radius: 5px;
}
.my-card img{
  padding-top: 50px;
  padding-bottom: 30px;
  background-position: center;
  background-repeat: no-repeat;
}
.center{
  text-align: center;
}
.bold{
  font-weight: bold !important;
}
.icon-card
{
  font-size: 1em;
}
.to-bottom-banner{
  width: 100%;
  height: 350px;
  background: linear-gradient(rgba(7, 0, 19, 0.3), rgba(5, 1, 10, 0.5)), url(./components/images/banner2.jpg) no-repeat center;
  background-size: cover;

}
.subscribe-card{
  box-shadow:0px 2px 40px 0px rgba(198, 198, 198, 0.5);
  border-radius: 10px;
  display:flex;
}
.about-banner{
  max-width: 100%;
  height: 380px;
  background: linear-gradient(  rgba(240, 218, 129, 0.5), rgba(241, 170, 94, 0.9)), url('./components/images/about-banner.jpg') center  no-repeat ;
  background-size: cover;
}
.about-over-banner
{
  width: 100%;
  height: auto;
  padding-top: 15%;
  position: absolute;
}
.grey{
  background: rgb(247, 247, 247);
}
.blog-banner{
  max-width: 100%;
  height: 380px;
  background: linear-gradient(  rgba(240, 218, 129, 0.6), rgba(241, 170, 94, 0.9)), url('./components/images/gustavo-centurion-665623-unsplash.jpg') center  no-repeat ;
  background-size: cover;
}
.contact-banner{
  max-width: 100%;
  height: 380px;
  background: linear-gradient(  rgba(240, 218, 129, 0.5), rgba(241, 170, 94, 0.9)), url('./components/images/contact.jpg') center  no-repeat ;
  background-size: cover;
}